{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amsine</title>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'jquery_c.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CustomizePage/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <div id="top_bar">
        <div id="image_div">
            <img src="{% static 'amsine_logo_white.png' %}" alt="Amsine Logo">
        </div>
        <div id="top_bar_text">
            <p>What languages would you like to learn?</p>
        </div>
        <div id="search_bar">
            <input type="text" placeholder="Search for languages">
            <button><img src="" alt=""><span class="material-symbols-outlined">search</span></button>
        </div>
    </div>
    <div id="customize_container">
        <div id="customize_html_loader">
            {% for language in languages %}

            {% if language.status %}
                <button class="language_selector_button" data-language_id="{{ language.uuid }}">
                    <img src="{% static 'Languages/'|add:language.name|add:'/language_logo_round.png' %}" alt="">
                    <p>{{ language.name }}</p>
                </button>
            {% else %}
                <button class="language_selector_button" data-language_id="{{ language.uuid }}" disabled>
                    <img src="{% static 'Languages/'|add:language.name|add:'/language_logo_round.png' %}" alt="">
                    <p>{{ language.name }}</p>
                </button>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <p id="success_message"></p>
    

    <script>

        // Global Variable
        var csrfmiddlewaretoken = "{{ csrf_token }}";
        var addLanguageLearning = "{% url 'CustomizePage:addLanguageLearning' %}";
        var getNativeLanguagePage = "{% url 'CustomizePage:getNativeLanguagePage' %}";

    </script>

    <script src="{% static 'CustomizePage/js/script.js'  %}"></script>
</body>
</html>