<style>

    #translating_container {
        padding: 0px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #translating_container h1 {
        align-self: flex-start;
        font-weight: 500;
        padding: 0px 0px 40px 0px;
    }

    #word_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
    }
    #word_container #word {
        width: fit-content;
        margin: 50px 0px;
        padding: 5px 15px;
        background-color: #c3c5f3;
        color: black;
        font-size: 60px;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
    }
    #word_container input {
        width: 500px;
        border: none;
        background-color: #f4f4f4;
        height: 60px;
        font-size: 40px;
        border-bottom: 5px dotted black;
        text-align: center;
    }
    #answer {
        font-size: 20px;
    }

    #button_div {
        align-self: flex-end;
    }
    .next_button {
        border: none;
        padding: 20px 50px;
        background-color: #9a9cea;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        transition: 0.2s;
        margin: 0px 10px;
    }
    .next_button:hover {
        background-color: white;
        color: black;
        transition: 0.2s;
    }
    .next_button:disabled {
        background-color: gray;
    }
    .next_button:disabled:hover {
        color: white;
        cursor: not-allowed;
    }
    #submit_answer {
        border: none;
        padding: 20px 50px;
        background-color: #9a9cea;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        transition: 0.2s;
        margin: 0px 10px;
    }
    #submit_answer:hover {
        background-color: white;
        color: black;
        transition: 0.2s;
    }


</style>

<div id="translating_container">
    <h1>Translate the term in English:</h1>
    <div id="word_container">
        <p id="word">{{word}}</p>
        <input type="text" name="input" id="">
        <p id="answer"></p>
    </div>
    <div id="button_div">
        <button id="submit_answer">Submit</button>
        <button class="next_button" disabled>Next</button>
    </div>
</div>

<script>

    $('#submit_answer').on('click', (event) => {
        if($('#word_container input').val() == "{{translation}}") {
            $('#answer').text('Correct answer WOOHOO')
            $('#answer').css('color', 'green')
            $('#word_container input').css('border-bottom', '5px dotted green')
            $('.next_button').removeAttr('disabled')
        }
        else {
            $('#answer').text('Wrong :(')
            $('#answer').css('color', 'red')
            $('#word_container input').css('border-bottom', '5px dotted red')
            $('.next_button').removeAttr('disabled')
        }
    })

</script>