{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amsine</title>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'jquery_c.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CommunityPage/css/threadDetails.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="navigation_bar">
        <div id="left_side_tabs">
            <img src="{% static 'amsine_logo_white.png' %}" alt="">
            <div id="learning_tab">
                <button class="tab_button" id="learning_tab_button" onclick="window.location.href = '/'">
                    <img src="{% static 'white_learn_logo.png' %}" alt="">
                    Learn
                </button>
            </div>
            <div id="community_tab">
                <button class="tab_button" id="community_tab_button" onclick="window.location.href = '/community/'">
                    <img src="{% static 'white_community_logo.png' %}" alt="">
                    Community
                </button>
            </div>
            <div id="chat_link_tab">
                <button class="tab_button" id="chat_link_tab_button">
                    <img src="{% static 'white_chat_logo.png' %}" alt="">
                    Chat
                </button>
            </div>
        </div>
        <div id="right_side_tabs">
            <div id="language_tab">
                <button class="tab_button" id="change_language_user_submenu">
                    <img src="{% static 'Languages/'|add:thread.language_name|add:'/language_logo.png' %}" alt="Language Logo">
                    {{thread.language_name}}
                </button>
            </div>
            <div id="user_tab">
                <div id="submenu" hidden>
                    <button class="submenu_button" id="profile_user_submenu">Profile</button>
                    <button class="submenu_button" id="log_out_user_submenu">Log Out</button>
                </div>
                <div id="user_tab_message_popup"></div>
                <button class="tab_button" id="user_tab_button">
                    <img src="{% static 'white_user_logo.png' %}" alt="">
                </button>
            </div>
        </div>
    </div>

    <div id="thread_container">
        <div id="spinner_container">
            <div class="spinner"></div>
        </div>
        <div id="error_div">
            <p></p>
        </div>
        <h1>{{thread.userMeta.username}}: {{thread.created_at}}</h1>
        <h2>{{thread.title}}</h2>
        <button id="new_reply_button">+ Add Reply</button>
        {% if ownsThread %}
        <button id="delete_thread">Delete Thread</button>
        {% endif %}
        <div id="add_new_reply_container">
            <div id="add_new_reply_box">
                <label for="reply">Reply: </label>
                <input type="text" id="reply" name="reply">
                <button id="submit_reply" disabled>Add Reply</button>
            </div>
        </div>
        <div id="replies_html_loader"></div>
    </div>

    <script>
        //Global variables
        var language_name = '{{last_language_used.name}}'
        var thread_uuid = '{{thread.uuid}}'

        var csrfmiddlewaretoken = "{{ csrf_token }}";
        let logOutUrl = "{% url 'HomePage:logOut' %}";
        let checkIfUserProfileCustomizedUrl = "{% url 'HomePage:checkIfUserProfileCustomized' %}"
        let getRepliesUrl = "{% url 'CommunityPage:getReplies' %}"
        let addReplyUrl = "{% url 'CommunityPage:addReply' %}"
        let deleteThreadUrl = "{% url 'CommunityPage:deleteThread' %}"

    </script>
    <script src="{% static 'CommunityPage/js/threadDetails.js' %}"></script>
</body>
</html>