{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amsine</title>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'jquery_c.js' %}"></script>
    <link rel="stylesheet" href="{% static 'RegisterPage/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="top_bar">
        <div id="image_div">
            <img src="{% static 'amsine_logo_white.png' %}" alt="Amsine Logo">
        </div>
        <div id="top_bar_text">
            <p>Create a new account</p>
        </div>
    </div>
    <form>
        <div id="div_1">
            <p id="success_message"></p>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" placeholder="wolf">
            <p id="username_message"></p>
            <br>
    
            <label for="email_id">Email ID: </label>
            <input type="text" name="email_id" id="email_id" placeholder="wolf@amsine.com">
            <p id="email_message"></p>
            <br>
        </div>
        <div id="div_2">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="*********">
            <br>
    
            <label for="re-password">Retype Password: </label>
            <input type="password" name="re-password" id="re-password" placeholder="*********">
            <p id="password_message"></p>
            <br>
        </div>

        <div id="buttons">
            <button id="register" disabled>Register</button>
            <button id="logInButton">Log In</button>
        </div>

        <div class="spinner-container">
            <div class="spinner" hidden></div>
        </div>

    </form>

    <script>
        // Global Variables
        var csrfmiddlewaretoken = "{{ csrf_token }}";
        var usernameCheckUrl = "{% url 'RegisterPage:usernameCheck' %}"
        var emailCheckUrl = "{% url 'RegisterPage:checkEmailUsed' %}";
        var registerButtonUrl = "{% url 'RegisterPage:registerButton' %}"
    </script>
    <script src="{% static 'RegisterPage/js/script.js' %}"></script>
</body>
</html>