{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asmine</title>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'jquery_c.js' %}"></script>
    <link rel="stylesheet" href="{% static 'ProfilePage/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="navigation_bar">
        <div id="left_side_tabs">
            <img src="{% static 'amsine_logo_white.png' %}" alt="">
            <div id="learning_tab">
                <button class="tab_button" id="learning_tab_button" onclick="window.location.href = '/'">
                    <img src="{% static 'white_learn_logo.png' %}" alt="">
                    Learn
                </button>
            </div>
            <div id="community_tab">
                <button class="tab_button" id="community_tab_button" onclick="window.location.href = '/community/'">
                    <img src="{% static 'white_community_logo.png' %}" alt="">
                    Community
                </button>
            </div>
            <div id="chat_link_tab">
                <button class="tab_button" id="chat_link_tab_button">
                    <img src="{% static 'white_chat_logo.png' %}" alt="">
                    Chat
                </button>
            </div>
        </div>
        <div id="right_side_tabs">
            <div id="language_tab">
                <button class="tab_button" id="change_language_user_submenu">
                    <img src="{% static 'Languages/'|add:last_language_used.name|add:'/language_logo.png' %}" alt="Language Logo">
                    {{last_language_used.name}}
                </button>
            </div>
            <div id="user_tab">
                <div id="submenu" hidden>
                    <button class="submenu_button" id="profile_user_submenu">Profile</button>
                    <button class="submenu_button" id="log_out_user_submenu">Log Out</button>
                </div>
                <div id="user_tab_message_popup"></div>
                <button class="tab_button" id="user_tab_button">
                    <img src="{% static 'white_user_logo.png' %}" alt="">
                </button>
            </div>
        </div>
    </div>
    <div id="select_menu_screen">
        <div id="select_menu">
            <div id="select_menu_spinner_container" class="spinner_container">
                <div class="spinner"></div>
            </div>
            <button id="close_menu">X</button>
            <div id="select_items"></div>
            <button id="save_items">Save Changes</button>
        </div>
    </div>

    <div id="profile_container">
        <button id="back_button" onclick="window.location.href = '/'">Back</button>
    
        <div id="details_container">
            <div class="info_container">
                <label for="username">Username: </label>
                <input type="text" name="username" value="{{username}}" disabled>
                <!-- <h3>Coins: {{ coins }}</h3>
                <h3>EXP: {{ exp }}</h3> -->
                <p id="created_at">Created: {{ created_at }}</p>
            </div>
        
            <div class="info_container">
                <label for="bio">Bio: </label>
                <input type="text" name="bio" id="bio" value="{{ bio }}">
            </div>
        
            <div class="info_container">
                <label for="language_learning">Language you are learning: </label>
                <select name="language_learning" id="language_learning">
                    <option disabled selected value="">-- Your Selected Languages --</option>
                    
                    {% for lan in language_learning %}
                        <option value="{{lan}}" disabled>{{ lan }}</option>
                    {% endfor %}
            
                </select>
                <button id="language_learning_update_button" title="There are only 2 languages therefore it is not possible to select more than 2 languages to learn at the same time." disabled>Update Languages</button>
            </div>

            <div class="info_container">
                <label for="native_language">Your Native Language: </label>
                <input type="text" name="native_language" id="native_language" value="{{ native_language }}" disabled>
                <button id="native_language_update_button" title="There are only 2 languages therefore it is not possible to select more than 2 languages to learn at the same time." disabled>Update Native</button>
            </div>
        
            <div class="info_container">
                <label for="interests">Your Interest: </label>
                <select name="interests" id="interests">
                    <option disabled selected value="">-- Your Interests --</option>
                    
                    {% for inter in interests %}
                    <option value="{{inter}}" disabled>{{inter}}</option>
                    {% endfor %}
            
                </select>
                <button id="interests_update_button">Update Interests</button>
            </div>
        
            <button id="save_button">Save</button>
            <p id="success_message"></p>
            <div class="spinner_container">
                <div class="spinner"></div>
            </div>
        </div>
    </div>

    <div id="chat_container">
        <p id="chat_title">Chat</p>
        <div id="chat_message_container">
            <div id="chat_spinner_container" class="spinner_container">
                <div class="spinner"></div>
            </div>
            <div id="chat_html_loader"></div>
            <div id="chat_status_message"></div>
            <div id="chat_buttons">
                <div id="message_send_container">
                    <input type="text" placeholder="Type Here" maxlength="200">
                    <img id="message_send_button" src="{% static 'ChatPage/img/send_message_icon.png' %}" alt="">
                </div>
                <div id="reroll_buttons">
                    <img src="{% static 'ChatPage/img/reroll_icon.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <script>
        //Global variables
        var csrfmiddlewaretoken = "{{ csrf_token }}";
        var updateProfileDetails = "{% url 'ProfilePage:updateProfileDetails' %}"
        var getUserLanguageDetails = "{% url 'ProfilePage:getUserLanguageDetails' %}"
        var getInterestsDetails = "{% url 'ProfilePage:getInterestsDetails' %}"
        let checkIfLinkedUrl = "{% url 'ChatPage:checkIfLinked' %}"
        let linkUserUrl = "{% url 'ChatPage:linkUser' %}"
        let getChatsUrl = "{% url 'ChatPage:getChats' %}"
        let sendMessageUrl = "{% url 'ChatPage:sendMessage' %}"
    </script>
    <script src="{% static 'ProfilePage/js/script.js' %}"></script>

</body>
</html>