<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<style>
    #thread_button_container button {
        width: 100%;
        cursor: pointer;
        border: none;
        padding: 30px;
        border-radius: 10px;
        background-color: white;
        margin: 10px 0px;
        text-align: start;
    }
    .username {
        font-size: 20px;
        color: rgb(123, 123, 255);
    }
    .button_title {
        font-size: 30px;
    }
    .number_of_replies {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .number_of_replies span {
        font-size: 40px;
        margin: 0px 5px 0px 0px;
    }
</style>

<div id="thread_button_container">
    {% for thread in threadsList %}
        <button onclick="window.location.href = '{{thread.uuid}}/'">
            <p class="username">{{thread.userMeta.username}}: {{thread.created_at}}</p>
            <p class="button_title">{{thread.title}}</p>
            <p class="number_of_replies"><span class="material-symbols-outlined">chat</span> {{thread.number_of_replies}}</p>
        </button>
    {% endfor %}
</div>