* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}
html, body {
    height: 100%;
    background-color: #9A9CEA;
}
#top_bar {
    height: 20%;
    background-color: #9A9CEA;
    display: flex;
}
#top_bar img {
    width: 200px;
}
#top_bar #top_bar_text {
    width: 100%;
    text-align: center;
    font-size: 35px;
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 0px;
    color: white;
    margin-right: 200px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    flex-wrap: wrap;
    border-radius: 60px 60px 0px 0px;
    background-color: #F4F4F4;
    height: 80%;
}
form label {
    padding: 10px;
    font-weight: bold;
}
form input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    width: 300px;
    margin-bottom: 30px;
    text-align: center;
    background-color: transparent;
}
form #div_1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
form #div_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#password_message {
    position: absolute;
    bottom: 10px;
    width: 500px;
}
form #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}
form button {
    color: white;
    border: none;
    padding: 10px 30px;
    background-color: #A2B9EE;
    margin: 0px 10px 30px 10px;
    transition: 0.3s;
    cursor: pointer;
}
form button:hover {
    background-color: #91adee;
    transition: 0.3s;
}
#register:disabled {
    background-color: #9f9f9f;
    cursor: not-allowed;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top-color: #333;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}